@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskFlow</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">your application</a>.</p>
</div>
